// FOR UNOFFICIAL NOTION APIS
// Check if below lines are already in your project
// @tailwind base;
// @tailwind components;
// @tailwind utilities;


// Table

.notion-simple-table-row {
  td {
    min-width: 150px;
  }
}

.table_block_column_header {
  tr:first-child {
    @apply bg-gray-100 font-semibold;
  }
}

.table_block_row_header {
  tr {
    td:first-child {
      @apply bg-gray-100 font-semibold;
    }
  }
}

// Background

.notion-gray_background {
  @apply bg-gray-100;
}

.notion-brown_background {
  @apply bg-[#f4eeee];
}

.notion-orange_background {
  @apply bg-orange-100;
}

.notion-yellow_background {
  @apply bg-amber-100;
}

.notion-teal_background {
  @apply bg-[#deffdb];
}

.notion-blue_background {
  @apply bg-blue-100;
}

.notion-purple_background {
  @apply bg-purple-100;
}

.notion-pink_background {
  @apply bg-pink-100;
}

.notion-red_background {
  @apply bg-red-100;
}

// Text
.notion-gray {
  @apply text-gray-500;
}

.notion-brown {
  @apply text-[#9f6b53];
}

.notion-orange {
  @apply text-orange-500;
}

.notion-yellow {
  @apply text-amber-500;
}

.notion-teal {
  @apply text-teal-600;
}

.notion-blue {
  @apply text-blue-500;
}

.notion-purple {
  @apply text-purple-500;
}

.notion-pink {
  @apply text-pink-500;
}

.notion-red {
  @apply text-red-500;
}